{% extends "template.html.twig" %}
{% block title %}
         {{firstname}} {{name}}
{% endblock %}
{% block body %}
<div class="alert alert-success">
        <h1>With love {{firstname}} {{name}}</h1>
        <p>Bonjour Kad Symfony 6</p>
        <p>Mon url absolue est : {{ url("first") }}</p>
</div>
{% endblock %}
   